[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=pekwm
TryExec=pekwm
Name=Pekwm
Comment=A small and fast window manager 
Comment[pl]=Mały i szybki zarządca okien
# vi: encoding=utf-8
