[Dektop Entry]
Name=Pekwm
Comment=Very small and fast window manger
Comment[pl]=Mały i szybki zarządca okien
Exec=pekwm
Terminal=False
TryExec=pekwm
[Window Manager]
SessionManaged=true
